<p>{{name}}</p>
<button type="button" (click)="onClick()">Click</button><br><br>
<button [disabled]="buttonDisabled">Button</button><br><br>
<p>
  {{numberA + numberB}}
</p>
<ul>
  <li *ngFor="let name of names;let i = index">
    {{name}} {{i}}
  </li>
</ul>
<p>{{birthday | date }}</p>
<app-student></app-student>
<ul>
  <li *ngFor="let course of coursesFull">
    {{course}}
  </li>
</ul>
<ul>
  <li *ngFor="let subject of subjects">
    {{subject.key}}{{subject.value}}

  </li>
</ul>
<form>
  <div class="form-group">
    <label class="sr-only" for="">Course</label>
    <input type="text" class="form-control" placeholder="Course Name" #name>
  </div>
  <br />
  <button type="button" class="btn btn-primary" (click)="addCourse(name.value)">Add Course</button>
  <button type="button" class="btn btn-danger" (click)="randomCourse()">Random Course</button>
</form>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <h3>Random</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let course of coursesRandom">{{course}}</li>
    </ul>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <h3>Full Courses</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let course of coursesFull">{{course}}</li>
    </ul>
  </div>

</div>